<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<plugin id="com.mikahimself.dita2json" >
    <feature extension="dita.conductor.transtype.check" value="json-dita" />
    <feature extension="dita.conductor.target.relative" file="build-dita2json.xml" />
</plugin>

